{
    "ipcMode": "task",
    "containerDefinitions": [
        {
            "name": "{{container-name}}",
            "image": "{{ecr-image-name}}",
            "dnsSearchDomains": [],
            "logConfiguration": {
                "logDriver": "awslogs",
                "secretOptions": [],
                "options": {
                    "awslogs-group": "/ecs/openlawnz-ecr",
                    "awslogs-region": "ap-southeast-2",
                    "awslogs-stream-prefix": "ecs"
                }
            },
            "entryPoint": [],
            "portMappings": [{
                "hostPort": 80,
                "protocol": "tcp",
                "containerPort": 80
            }],
            "command": [],
            "linuxParameters": [],
            "environment": [],
            "resourceRequirements": [],
            "ulimits": [],
            "dnsServers": [],
            "mountPoints": [],
            "dockerSecurityOptions": [],
            "memoryReservation": 518,
            "volumesFrom": [],
            "stopTimeout": 2,
            "startTimeout": 2,
            "dependsOn": [],
            "workingDirectory": "/app",
            "interactive": true,
            "essential": true,
            "links": [],
            "pseudoTerminal": true,
            "cpu": 0,
            "memory": 518
        }
    ],
    "placementConstraints": [],
    "family": "openlawnz-ecr",
    "pidMode": "task",
    "requiresCompatibilities": ["EC2"],
    "networkMode": "bridge",
    "inferenceAccelerators": [],
    "volumes": []
}